version: "3.7"

services:
  backend:
    container_name: micra_backend
    build:
      context: backend/
    ports:
      - 5000:5000
    environment:
      - LLAMA_MODELS=
      - COCLASS=data/coclass_en_sv.csv
      - SB11=data/sb11_en_sv.csv
      - DATA=data/requirements_sample.csv
      - SERVER_ENV=development
  frontend:
    container_name: micra_frontend
    build:
      context: frontend/
      args:
        - REACT_APP_SERVER_URL=https://micrabackend.diptsrv003.bth.se
    ports:
      - 3004:80
