#data
pandas
numpy
scikit-learn

#processing
##re
nltk
stanza
##plotting
matplotlib
seaborn

#models
transformers
sentence_transformers
tensorflow

#treeify
treelib
xlrd
openpyxl

#api
flask
flask_restful
flask_cors

#development
python-dotenv
